.small_button{
  line-height: 2px !important;
}
.ionic_ratings .icon {
  font-size: 55px;
}
#map {
  height: 100%;
  width: 100%;
}

.scroll {
  height: 100%;
}


.green{
  background-color: #b8f23c;
}

.popup-buttons{
  flex-direction: column;
}

.popup-buttons .button {
  margin-bottom: 5px;
}

.ionic_ratings .read_only {
  pointer-events:none !important;
}

.button.button-bordered{
  border: 5px solid #387EF5;
  border-radius: 10px;
  width: 35%;
  line-height: 100%;
  font-size: 13px;
  margin-bottom: 5px;
}
/*popup override*/
.popup-container
{

}

.popup
{
  padding: 12px;
  border-radius: 10px !important;
}

.popup-head
{

}

.popup-title
{
  color: #575757;
  font-size: 30px !important;
  text-align: center;
  font-weight: 600;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
}

.popup-body
{
  color: #313131;
  font-size: 16px;
  font-weight: 300;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.popup-buttons .button
{
  background-color: #5dc2f1;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px !important;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

.popup-buttons .button.activated
{
  background-color: #007aff;
}
