<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->
<ion-view>
  <ion-nav-title>{{event.title}} {{"'s Question List" | translate}}</ion-nav-title>
  <ion-content>
    <form name="addQuestionForm" ng-submit="addingQuestion(que)" novalidate>
      <!-- input type time is not supported by firefox. However, in phone, it works well -->
      <div class="list">
        <div class="item item-divider" align="center">{{"Add New Question" | translate}}</div>
      </div>
      <label class="item item-input">
        <textarea rows="3" ng-model="que.question" placeholder="{{'Type your new question here' | translate}}" required></textarea>
      </label>
      <div class="button-bar">
        <button type="submit" class="button button-block button-balanced" ng-disabled="addQuestionForm.$invalid">{{"Submit" | translate}}</button>
        <button type="reset" class="button button-block button-stable">{{"Clear Fields" | translate}}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
