<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->
<ion-view>
  <ion-nav-title>{{"Contact" | translate}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <a href="#/app/edit-contact/{{contact.id}}" ng-show="isOrganizer" class="button icon ion-edit" menu-toggle="right"></a>
  </ion-nav-buttons>
  <ion-content>
    <button class="button button-block button-positive" ng-show="mailAdressAvailable" ng-click="openMailProgram(contact.mailadress)" translate>Send mail to support contact</button>
    <ion-item ng-show="!mailAdressAvailable" translate>No support mail adress available.</ion-item>
  </ion-content>s
</ion-view>
