<ion-view view-title="Event Name">
  <ion-content>
    <ion-list>
      <div class="bar-stable"> </div>
      <a class="item item-icon-left"><i class="icon ion-clock"></i> : Tuesday, May 4 - 19:00 - 22:30 </a>
      <a class="item item-icon-left"> <i class="icon ion-map"></i>: Lange Gasse 20</a>
      <a class="item item-icon-left"><i class="icon ion-ios-list-outline"></i> : AGENDA</a>
    </ion-list>
    <p>
      The speech about how to protect open source projects from poisonous people was delivered on 29 May 2008 by Ben Collins-Sussman and Brian „Fitz“ Fitzpatrick. Both Ben and Fitz had been working together for almost 10 years in open source at that time. In the video, they shared their opinion based on their past experience running an open sorce community, particularly while working on Subversion project. A book by Karl Fogel titled Producing Open Source Software was also used as a reference.
    </p>
  </ion-content>
</ion-view>
