<ion-view view-title="{{event.title}}">
  <ion-content>
    <ion-list>
      <!-- fetch data from database -->
      <div class="bar-stable"> </div>
      <a class="item item-icon-left"><i class="icon ion-clock"></i> {{(event.date | date: 'dd MMM yyyy') || "t.b.a"}} </a>
      <a class="item item-icon-left"> <i class="icon ion-map"></i>: {{event.location || "t.b.a"}}</a>
      <a class="item item-icon-left"><i class="icon ion-ios-list-outline"></i> : AGENDA</a>
    </ion-list>
    <p>
      {{event.descr}}
    </p>
  </ion-content>
</ion-view>
