<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->
<ion-view>
  <ion-nav-title>{{"Feedback" | translate}} {{event.title}}</ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item item-divider" ng-show="generalCategories.length>0">
        {{"General feedback" | translate }}
      </ion-item>
      <feedback-group ng-repeat="category in generalCategories" rating-object="ratingObjects[category]"></feedback-group>

      <ion-item class="item item-divider" ng-show="talks.length>0">
        {{"Talk specific feedback" | translate }}
      </ion-item>
      <feedback-group ng-repeat="talk in talks" rating-object="ratingObjects[talk.topic]"></feedback-group>

    </ion-list>
    <button ng-click="saveFeedback()" class="button button-block button-positive">{{"Submit" | translate}}</button>
  </ion-content>
</ion-view>
