<ion-view view-title="My Account">
  <ion-content> 


    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
         <input type="text" placeholder="Username" ng-model="ev.username" required>
          <input type="text" ng-model="loginData.username">
        </label>

        <label class="item item-input">
          
          <input type="password" placeholder="Password" ng-model="ev.password" required>
          <input type="password" ng-model="loginData.password">
        </label>

       

  <div class="item item-button-right">  
   <h2>Remember Me  &nbsp <input type="checkbox"  ng-model="filter.blue"></h2></ion-checkbox> 
   <button class="button button-positive ">Log In</button>
  </div>
</div>


<div class="col text-right">
    <a href="" class="button button-clear button-light">Forgot my password ?</a>
</div>

</br>

<a href="" type="submit" class="button button-block button-positive">Register</a>
    </form>
  </ion-content>
</ion-view>
