<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->

<ion-view view-title="{{ 'Overview' | translate }}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/app/new_event" ng-show="isOrganizer" class="button icon ion-android-add-circle  button-stable" menu-toggle="right"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <p class="item item-divider icon-right" ng-class="{'ion-chevron-down': todaySeen, 'ion-chevron-right': !todaySeen}" ng-click="todaySeen = !todaySeen">{{'TODAY' | translate}}</p>
      <ion-item ng-show="todaySeen" ng-repeat="ev in todays = (events | filter: todaysEvents)"><a href="#app/event/{{ev.id}}/{{ev.fileId}}">{{(ev.date | date:'shortDate')}} {{ev.title}}</a>
      </ion-item>
      <ion-item ng-show="!todays.length && todaySeen">{{ 'No events' | translate}}</ion-item>

      <p class="item item-divider icon-right" ng-class="{'ion-chevron-down': previousSeen, 'ion-chevron-right': !previousSeen}" ng-click="previousSeen = !previousSeen">{{'UPCOMING' | translate}}</p>
      <ion-item ng-show="previousSeen" ng-repeat="ev in prev = (events | filter: previousEvents)"><a href="#app/event/{{ev.id}}/{{ev.fileId}}">{{(ev.date | date:'shortDate')}} {{ev.title}}</a>
      </ion-item>
      <ion-item ng-show="!prev.length && previousSeen">{{ 'No events' | translate}}</ion-item>

      <p class="item item-divider icon-right" ng-class="{'ion-chevron-down': nextSeen, 'ion-chevron-right': !nextSeen}" ng-click="nextSeen = !nextSeen">{{'PREVIOUS' | translate}}</p>
      <ion-item ng-show="nextSeen" ng-repeat="ev in next = (events | filter: nextEvents)"><a href="#app/event/{{ev.id}}/{{ev.fileId}}">{{(ev.date | date:'shortDate')}} {{ev.title}}</a>
      </ion-item>
      <ion-item ng-show="!next.length && nextSeen">{{ 'No events' | translate}}</ion-item>


    </ion-list></ion-content>
</ion-view>
