<ion-view view-title="Overview">
<ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
     

 <ion-nav-buttons side="right">
        <a href="#/app/new_event" class="button icon ion-android-add-circle  button-stable" menu-toggle="right"></a>
      </ion-nav-buttons>
</ion-nav-bar>
<br><br><br>

  
    <ion-list>
      <br>
      <i class="icon ion-chevron-right"> UPCOMING</i><br><br>
  <ion-item ng-repeat="ev in events"><a href="about">{{ev.title}} ({{ev.date}})</a></ion-item><br>


   <i class="icon ion-chevron-right"> PREVIOUS</i><br><br>
  <ion-item><a href="about">07/2015 Devcon</a></ion-item>
  <ion-item><a href="about">06/2015 Devcon</a></ion-item>
  <ion-item><a href="about">.....</a></ion-item>


    </ion-list>
</ion-view>
