<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">

    <ion-list>
      <ion-item menu-close href="#/app/main">
        <div translate>Overview</div>
      </ion-item>
      <ion-item menu-close href="#/app/my-account">
        <div translate>My Account</div>
      </ion-item>
      <ion-item menu-close href="#" ng-show="isLoggedIn">
        <div translate>Settings</div>
      </ion-item>
      <ion-item menu-close href="#/app/logout" ng-show="isLoggedIn">
        <div translate>Logout</div>
      </ion-item>
      <ion-item class="item item-toggle">
        <div translate>Switch to english</div>
        <label class="toggle toggle-positive" ng-click="changeLanguage()">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
